<!doctype html>
<html lang="en">
  <%- include('templates/head') %>

  <body>

    <%- include('templates/navbar') %>
    <div style="margin-bottom:100px"></div>
    <main role="main" class="container">
     <div class="jumbotron">
        <h1> Welcome to TokoPC </h1>
        <p class="lead"> This is amazing , i cant believe this is real. 
            for the first time in my life i see such a beauty like this 
        </p>
     </div>
    </main>

   
  </body>
</html>
